.tab-list {
	background-color: palette(White);
	color: palette(Black, Text);

	ul {
		margin: 0;
		padding: 0;
		display: flex;
	}
}

.tab-bar {
	height: 4px;
	position: relative;
}

.tab-indicator {
	height: 4px;
	position: absolute;
	top: 0;
	transition: left .3s cubic-bezier(.5, 1.2, .6, 1.2);

	border-radius: 2px;
	background-color: palette(Black, Text);
}

.tab {
	flex: 1;
	height: 44px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	font-size: .9rem;
	font-weight: normal;

	&.selected {
		font-size: 1rem;
		font-weight: bold;
	}
}
