html, body {
	overflow: hidden;
}

html {
	font-family: 'Noto Sans Japanese', sans-serif;
	-webkit-tap-highlight-color: transparent;
}

:focus {
	outline: 0;
}

.app {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

main {
	flex: 1;
	overflow-y: auto;
}
